* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #f4d467;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

.card-container {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/661/973/110/cool-nba-logo-wallpaper-preview.jpg");
}

.player-card {
  height: 400px;
  max-width: 280px;
  min-width: 230px;
  
}

.player-img{
  transition: transform 0.2s;
  height: 350px;
}

.player-card:hover .player-img{
  transform: scale(0.95);
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}

